@import "tailwindcss";

:root {
  /* NEW DESIGN */
  --bg-dark: hsl(0 0 0);
  --bg: hsl(0 0 5);
  --bg-light: hsl(0 0 10);

  --text: hsl(0 0 90);
  --text-secondary: hsl(0 0 80);
  --text-muted: hsl(0 0 70);
  --text-inverted: hsl(0 0 5);

  --border: hsl(0 0 30);
  --highlight: hsl(0 0 60);
  --highlight-dark: hsl(0 0 50);

  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));

  --border-card: 1px solid var(--border);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --shadow-light: 0 2px 2px hsla(0 0 70 100%);

  --primary-dark: oklch(0.4 0.15 220);
  --primary: oklch(0.5 0.15 220);
  --primary-light: oklch(0.6 0.15 220);

  --btn-bg: var(--primary);
  --btn-bg-hover: var(--primary-dark);
  --btn-text: var(--text-inverted);
  --btn-border: 1px solid var(--primary);

  --accent-red-dark: oklch(0.4 0.15 40);
  --accent-red: oklch(0.5 0.15 40);
  --accent-red-light: oklch(0.6 0.15 40);

  --accent-orange-dark: oklch(0.4 0.15 80);
  --accent-orange: oklch(0.5 0.15 80);
  --accent-orange-light: oklch(0.6 0.15 80);

  --accent-green-dark: oklch(0.4 0.15 140);
  --accent-green: oklch(0.5 0.15 140);
  --accent-green-light: oklch(0.6 0.15 140);

  --transparent: hsla(0 0 10 20%);

  font-size: 16px;
}

body.light {
  --bg-dark: hsl(0 0 90);
  --bg: hsl(0 0 95);
  --bg-light: hsl(0 0 100);

  --text: hsl(0 0 10);
  --text-secondary: hsl(0 0 20);
  --text-muted: hsl(0 0 30);
  --text-inverted: hsl(0 0 95);

  --highlight: hsl(0 0 100);
  --highlight-dark: hsl(0 0 90);

  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));

  --border-card: 1px solid var(--bg);

  --btn-bg: var(--primary);
  --btn-bg-hover: var(--primary-light);
  --btn-text: var(--text-inverted);
  --btn-border: 1px solid var(--primary-light);
}

html,
body {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-family-1), monospace, Arial, Helvetica, sans-serif;
}

a {
  display: block;
}

.logo {
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  z-index: 100;
}
.logo img {
  min-width: 60px;
  height: auto;
  margin: 0 auto;
}

.title-section {
  display: flex;
  justify-content: center;
  max-height: 25vh;
  padding: 1rem;
  position: relative;
  text-align: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  margin: 0 auto;
}

.title-link-button {
  display: block;
}

.left-shift {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

/* REVIEW BELOW */

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: max(700px, 100%);
  text-align: center;
  padding: 2rem;
  position: relative;
  min-height: 100vh;
}

.bg-texture::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.4;
  background-size: 250px 250px;
  background-image: radial-gradient(
      circle,
      var(--bg-light) 5px,
      transparent 8px
    ),
    linear-gradient(0deg, transparent 49%, var(--bg-light) 50%, transparent 51%),
    linear-gradient(
      90deg,
      transparent 49%,
      var(--bg-light) 50%,
      transparent 51%
    );
  background-repeat: repeat;
  z-index: -1;
}

/* todo fix this so bg has fad top/bottom */
.bg-texture::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    var(--bg) 10px,
    transparent 30%,
    transparent 80%,
    var(--bg-dark)
  );
}

.bg-texture-dim::before {
  opacity: 0.25;
}

.bg-texture-dim::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    var(--bg) 10px,
    transparent 30%,
    transparent 70%,
    var(--bg-dark)
  );
}

.item-wraper {
  max-width: 750px;
  flex: 1;
  display: flex;
}

.summary-card {
  background: var(--bg);
  border-radius: 1rem;

  background: var(--gradient);
  border: var(--border-card);
  text-align: center;

  border-top: 1px solid var(--highlight);
  box-shadow: var(--shadow);

  height: max(50dvh, 500px);
  width: 700px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 2rem;
}

.summary-card:hover {
  background: var(--gradient-hover);
}

.text-container {
  background-color: var(--bg-light);
  color: var(--text);
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 50%;
  overflow: hidden;
}
.text-container > p {
  height: 90%;
  overflow: hidden;
}
.demo-card {
  color: var(--text);
  max-width: 750px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 2rem;
}

.demo-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--bg);
  backdrop-filter: blur(2px);
  z-index: -1;
  border: 1px dotted var(--border-card);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  opacity: 0.65;
}

.submit-button {
  background-color: var(--primary);
  border: 1px solid var(--primary-light);
}

.submit-button:hover {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary);
}

.logout-button {
  background-color: var(--accent-red);
  border: 1px solid var(--accent-red-light);
}

.logout-button:hover {
  background-color: var(--accent-red-dark);
  border: 1px solid var(--accent-red);
}

.button-two {
  background-color: var(--accent-orange);
  border: 1px solid var(--accent-orange-light);
}

.button-two:hover {
  background-color: var(--accent-orange-dark);
  border: 1px solid var(--accent-orange);
}

input {
  background-color: var(--bg-light);
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.75rem;
  width: 100%;
  outline: none;
  border: 1px solid var(--border-card);
  color: var(--text);
}

input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 10px var(--primary-light);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 350px;
  max-width: 450px;
  margin: auto;
  transform: translateY(-100px);
}

.bold {
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
  color: var(--text);
  font-weight: 600;
  line-height: 4rem;
}

h2 {
  font-size: 3rem;
  color: var(--text-secondary);
  font-weight: 500;
}

h3 {
  font-size: 2.5rem;
  color: var(--text-secondary);
  font-weight: 400;
}

h4 {
  font-size: 1.75rem;
  color: var(--text-muted);
  font-weight: 400;
}

h5 {
  font-size: 1.6rem;
  color: var(--text);
  font-weight: 400;
}

h6 {
  font-size: 1.4rem;
  color: var(--text-secondary);
  font-weight: 400;
}

hr {
  width: 100%;
  color: var(--border);
  border-radius: 2rem;
  margin: 1rem auto;
}

ol {
  display: flex;
  padding-top: 1rem;
  font-size: 1.6rem;
}

li {
  padding: 0.3rem;
  line-height: 2.2rem;
}

.small-title {
  font-size: 3rem;
}

.spacer {
  height: min(50dvh, 100px);
}

.login-redirect button {
  background-color: var(--primary);
  padding: 1rem 2rem;
  font-size: 1.3rem;
  width: min(50dvw, 300px);
}

.login-redirect button:hover {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary);
}

.how-it-works {
  background: var(--bg);
  border-radius: 1rem;
  padding: 2rem 1rem;
  background: var(--gradient);
  border: var(--border-card);
  text-align: center;

  border-top: 1px solid var(--highlight);
  box-shadow: var(--shadow);

  max-width: min(60%, 700px);

  display: flex;
  flex-direction: column;
}

.how-it-works > h3 {
  font-size: 2rem;
}

@media only screen and (max-width: 790px) {
  .logo {
    margin: 0;
  }

  .title-section > a {
    display: none;
  }

  .title-section {
    flex-direction: column;
    height: 30vh;
  }

  .left-shift {
    position: static;
  }
}

@media only screen and (max-width: 450px) {
}
