.page {
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;
  justify-content: space-between;
  overflow: auto;

  /* border: 1px solid yellow; */
}

.header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  position: relative;
  min-width: 350px;
  padding: 1rem;
  background: var(--bg-dark);
  z-index: 20;
}

.header::after {
  content: "";
  position: absolute;
  bottom: -50;
  left: 0;
  right: 0;
  background: linear-gradient(var(--bg-dark), var(--bg-light), transparent);
  height: 100px;
  filter: blur(5px);
  z-index: 1;
}

.navMenu {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 1rem;
  margin: auto 2rem;
  max-width: 1500px;
  align-self: center;
}

.navMenu a {
  font-size: 1.35rem;
}

.navMenu a:hover {
  color: var(--text-secondary);
}

.loginRedirect {
  font-size: 1.1rem;
  width: 200px;
  height: 80%;
  cursor: pointer;
  color: var(--primary-light);
  padding: 1rem;
  text-align: center;
  margin: auto;
  z-index: 200;
}

.loginRedirect:hover {
  color: var(--primary);
}

.hero {
  min-height: 60dvh;
  text-align: center;
  background: linear-gradient(var(--bg-dark) 70%, var(--bg));
  border-radius: 0px;
  position: relative;

  /* border: 2px solid green; */
}

.heroTextContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-self: center;

  gap: 0.25rem;
  /* border: 1px solid lightblue; */
}

.heroTextContainer h1 {
  font-size: 3rem;
  line-height: 1.3;
}

.heroAction {
  display: flex;
  justify-content: center;
  max-width: 500px;

  margin: 2rem auto;
  /* border: 1px solid lightgreen; */
}

.heroAction a {
  min-width: max(50%, 200px);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  border: 1px solid var(--primary-light);
  color: var(--text-inverted);
  font-weight: 600;
  font-size: 1.25rem;
}

.heroAction a:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-light);
}

.nextSectionLabel {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-muted);
  font-weight: 400;
  z-index: 20;
}

.howItWorks {
  min-height: 65dvh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(var(--bg) 35%, var(--bg-dark), transparent);
  background-color: var(--bg-dark);
  padding: 4rem 2rem;
  color: var(--text-muted);

  position: relative;
  /* border: 1px solid salmon; */
}

.howItWorks::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: linear-gradient(var(--bg-light), transparent);
}

.howItWorks ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
  max-width: 1500px;
  margin: 1rem auto;
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.3;
}

.howItWorks li {
  min-height: 100%;
  display: flex;
  align-items: center;
  background: var(--gradient);
  border: var(--border-card);
  border-top: 1px solid var(--highlight);
  box-shadow: var(--shadow);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  min-width: 350px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  width: 100%;
  padding: 1rem 4rem;
  gap: 2rem;
  background: linear-gradient(var(--bg-dark) 60%, var(--bg));

  /* border: 1px solid white; */
}

.footerMenu {
  display: flex;
  flex: 1;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: var(--text-secondary);
  min-width: 350px;
  padding: 0 10px;
}

.footerMenu a:hover {
  color: var(--text);
}

.logoContainer {
  display: flex;
  min-width: 100px;
  justify-content: center;
}

.demoDisclaimer {
  display: inline;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-neutral);
  max-width: 200px;
  min-width: 150px;
}

.demoDisclaimer a {
  display: inline;
  color: var(--primary);
}

.downArrow {
  animation: colorShift 4s infinite alternate ease-in-out;
}

@keyframes colorShift {
  0% {
    color: var(--primary-dark);
  }
  50% {
    color: var(--primary-light);
    transform: translateY(10px);
  }
  100% {
    color: var(--primary-dark);
  }
}

@media only screen and (max-width: 1250px) {
  .howItWorks ol {
    display: flex;
    flex-wrap: wrap;
  }

  .howItWorks li {
    flex: 1;
  }
}

@media only screen and (max-width: 790px) {
  .header {
    grid-template-columns: 1fr 4fr;
  }

  .navMenu {
    display: none;
  }

  .loginRedirect {
    width: 100%;
    text-align: right;
  }

  .howItWorks {
    min-height: 700px;
    background: radial-gradient(var(--bg-dark), var(--bg), var(--bg-dark));
    padding: 6rem 2rem;
  }

  .footer {
    flex-direction: column;
    flex: 1;
    padding: 0.5rem 1rem;
    gap: 1rem;
  }

  .heroTextContainer {
    margin-top: 2rem;
    width: 100%;
  }

  .heroTextContainer h1 {
    font-size: 2.5rem;
  }

  .heroTextContainer h5 {
    width: 75%;
    margin: auto;
  }

  .demoDisclaimer {
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .hero {
    min-height: 70vh;
  }

  .howItWorks li {
    min-width: 200px;
    font-size: 1.25rem;
  }

  .footerMenu {
    font-size: 1rem;
    width: 100%;
  }
}

.design1 {
  position: absolute;
  background: linear-gradient(
      transparent 49%,
      var(--grid-design) 50%,
      transparent 51%
    ),
    linear-gradient(
      90deg,
      transparent 49%,
      var(--grid-design) 50%,
      transparent 51%
    );
  background-size: 100px 100px;
  background-repeat: repeat;
  inset: 0;
  z-index: 1;
  height: 100%;
}

.design1::before {
  content: "";
  position: absolute;
  bottom: -10;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, var(--bg-light), transparent);
  height: 100px;
  filter: blur(5px);
}
