.page {
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-between;
  padding: 2rem 1rem;

  width: 100%;
  overflow: auto;
  /* min-width: 300px; */

  /* border: 1px solid yellow; */
}

.summaryForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  /* border: 1px solid green; */
}

.summaryForm input {
  max-width: 750px;
  margin-bottom: 0.5rem;
  min-width: 300px;
}

.currentSummaryWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 2rem 1rem;

  width: 100%;

  /* border: 1px solid whitesmoke; */
}

.sessionInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 4rem auto 1rem auto;
  font-size: 0.9rem;
  font-weight: 400;
  max-width: 250px;
}

.sessionInfoWrapper > button {
  height: 40px;
  width: 180px;
  font-size: 1rem;
  padding: 0;
}

@media only screen and (max-width: 790px) {
  .currentSummaryWrapper {
    padding: 1rem 0.5rem;
  }
}
